body
{
    font-family: 'Ubuntu', sans-serif;
}
h1, h3
{
    text-align: center;
}

h2
{
    text-align: left;
    padding-left: 2rem;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    color: white;
}

.card
{
    box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.699);
}

.card-body h3
{
    text-align: left;
    color: white;
}

section .card:hover
{
    opacity: 0.5;
}

.nav-bg
{
    background-color: rgba(0, 0, 0, 0);
}

.logo
{
    font-size: 1rem;
}

.nav-buttons
{
    margin: 0rem 0.5rem;
}

.my-icon
{
    color: black;
    background-color: white;
    border-radius: 0.75rem;
}

.gallery
{
    margin: 1.25rem 0rem;
}

.btn-bg-fb
{
    background-color: rgb(56, 5, 194);
    border-color: rgb(56, 5, 194);
    border-radius: 0.8rem;
    color: white;
}

.btn-bg-fb:hover
{
    background-color: rgb(56, 5, 194);
    border-color: rgb(56, 5, 194);
    color: white;
}

.btn-bg-linkedin
{
    background-color: rgb(43, 4, 153);
    border-color: rgb(43, 4, 153);
    border-radius: 0.8rem;
    color: white;
}

.btn-bg-linkedin:hover
{
    background-color: rgb(43, 4, 153);
    border-color: rgb(43, 4, 153);
    color: white;
}

.my-button:hover
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

hr
{
    border-top: 0.1rem solid rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;
}

.border-dark {
    border-color: #ffffff!important;
}
